[mxartifact]
debug = true
listen = ":9051"
listeners = [
    { name = "docker_http", addresses = [":80", ":443"], options = { } },
]

[file_storage]
location = "data"

[repository.shared.golang]

[[repository.golang]]
name = "proxy_repo"
type = "proxy"
# Empty base_url will not expose the repository in http server
#base_url = "/golang_proxy"
http_proxy = "http://localhost:1080"
upstream_repository = "https://proxy.golang.org"

[[repository.golang]]
# This will also be the folder name in file storage
name = "local_cache_repo"
type = "local"
base_url = "/golang"
#TODO currently repo reference should be declared in the order of the certain dependency
parent_repository = "proxy_repo"

[[repository.maven]]
name = "proxy_mvn_repo"
type = "proxy"
base_url = "/proxy_maven"
http_proxy = "http://localhost:1080"
upstream_repository = "https://repo1.maven.org/maven2"

[[repository.maven]]
# This will also be the folder name in file storage
name = "local_m2"
type = "local"
base_url = "/maven"
#TODO currently repo reference should be declared in the order of the certain dependency
parent_repository = "proxy_mvn_repo"

[[repository.docker]]
name = "proxy_dockerhub_repo"
type = "proxy"
base_url = "/"
http_proxy = "http://localhost:1080"
upstream_repository = "https://mirror.gcr.io"
bind_listeners = [
    { name = "docker_http", options = { hostname = "docker.io" } }
]

[[repository.docker]]
name = "local_dockerhub_repo"
type = "local"
base_url = "/dockerhub"
parent_repository = "proxy_dockerhub_repo"
bind_listeners = [
    { name = "docker_http", options = { hostname = "127.0.0.1" } }
]
