[mxartifact]
debug = true
listen = ":9051"

[file_storage]
location = "data"

[repository.shared.golang]

[[repository.golang]]
name = "proxy_repo"
type = "proxy"
base_url = "/golang_proxy"
http_proxy = "http://localhost:1080"
upstream_repository = "https://proxy.golang.org"

[[repository.golang]]
name = "local_cache_repo"
type = "local"
base_url = "/golang"
#TODO currently repo reference should be declared in the order of the certain dependency
parent_repository = "proxy_repo"
